.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  width: 1350px;

  @media screen and (max-width: 1400px) {
    width: calc(100% - 50px);
    margin: 40px;
  }

  @media screen and (max-width: 500px) {
    width: calc(100% - 25px);
    margin: 25px;
  }

  .right-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .right-part-spacer {
    width: 20px;
  }
}
